apiVersion: getambassador.io/v3alpha1
kind:  Mapping
metadata:
  name:  {{ engine_name }}-ingress
spec:
    hostname: "*"
    prefix: /{{ engine_name }}/
    service: {{ engine_name }}:{{ port if port else 8080 }}
