from inference_engine import InferenceEngine, {{ input_schema }}{% if input_schema != output_schema %} , {{ output_schema }} {% endif %}
from process import predict

engine = InferenceEngine.from_yaml(
    "{{ metadata_yaml }}"
)

engine.entrypoint(
    predict, {{ input_schema }}, {{ output_schema }}, media_type="{{ media_type }}"
)

if __name__ == "__main__":
    engine.serve()
