apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ engine_name }}
spec:
  template:
    spec:
      containers:
        - image: {{ image_name }}
          # imagePullPolicy: Always # TODO: uncomment when registry is properly set up
          imagePullPolicy: IfNotPresent
          {% if port %}
          ports:
            - containerPort: {{ port }}
          {% endif %}
